Server
.vscode
*.idea
target
TritonSoccerAI.iml
*.tmp
*.csv
*generated-sources
/src/main/java/triton/legacy/oldGrSimProto/protosrcs/GrSimCommands.java
/src/main/java/triton/legacy/oldGrSimProto/protosrcs/GrSimPacket.java
/src/main/java/triton/legacy/oldGrSimProto/protosrcs/GrSimReplacement.java
/src/main/java/triton/legacy/oldGrSimProto/protosrcs/MessagesRobocupSslDetection.java
/src/main/java/triton/legacy/oldGrSimProto/protosrcs/MessagesRobocupSslGeometry.java
/src/main/java/triton/legacy/oldGrSimProto/protosrcs/MessagesRobocupSslRefboxLog.java
/src/main/java/triton/legacy/oldGrSimProto/protosrcs/MessagesRobocupSslRobotStatus.java
/src/main/java/triton/legacy/oldGrSimProto/protosrcs/MessagesRobocupSslWrapper.java
