Server
.vscode
*.idea
target
TritonSoccerAI.iml
*.tmp
*.csv
*generated-sources
/src/main/java/Triton/Legacy/OldGrSimProto/protosrcs/GrSimCommands.java
/src/main/java/Triton/Legacy/OldGrSimProto/protosrcs/GrSimPacket.java
/src/main/java/Triton/Legacy/OldGrSimProto/protosrcs/GrSimReplacement.java
/src/main/java/Triton/Legacy/OldGrSimProto/protosrcs/MessagesRobocupSslDetection.java
/src/main/java/Triton/Legacy/OldGrSimProto/protosrcs/MessagesRobocupSslGeometry.java
/src/main/java/Triton/Legacy/OldGrSimProto/protosrcs/MessagesRobocupSslRefboxLog.java
/src/main/java/Triton/Legacy/OldGrSimProto/protosrcs/MessagesRobocupSslRobotStatus.java
/src/main/java/Triton/Legacy/OldGrSimProto/protosrcs/MessagesRobocupSslWrapper.java
